/*
  Ubuntu
*/

@font-face {
    font-family: 'NunitoSans';
    font-weight: 900;
    src: url('@~fonts/NunitoSans/NunitoSans-ExtraBold.woff');
}

@font-face {
    font-family: 'NunitoSans';
    font-weight: 400;
    src: url('@~fonts/NunitoSans/NunitoSans-Regular.woff');
}


@font-face {
    font-family: 'NunitoSans';
    font-weight: 300;
    src: url('@~fonts/NunitoSans/NunitoSans-Light.woff');
}

$NunitoSans: 'NunitoSans', sans-serif;
