/*
* Hamburger icon
*/

.hamburger {
	display: inline-block;
	padding: 15px 15px;
	border: 0;
	margin: 0;
	cursor: pointer;
	font: inherit;
	color: inherit;
	text-transform: none;
	background-color: transparent;
	overflow: visible;
	transition-property: opacity, filter;
	transition-duration: 0.15s;
	transition-timing-function: linear;

	&__box {
		width: 4rem;
		height: 2.4rem;
		display: inline-block;
		position: relative;
	}

	&__inner {
		display: block;
		top: 50%;
		margin-top: -0.2rem;

		&,
		&::before,
		&::after {
			width: 4rem;
			height: 0.4rem;
			background-color: #fff;
			border-radius: 0.4rem;
			position: absolute;
			transition-property: transform;
			transition-duration: 0.15s;
			transition-timing-function: ease;
		}

		&:before,
		&:after {
			@include pseudo;
		}

		&:before {
			top: -1rem;
			transition: top 0.1s 0.25s ease-in,
									opacity 0.1s ease-in;
		}

		&:after {
			bottom: -1rem;
			transition: bottom 0.1s 0.25s ease-in,
									transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
		}

}
	&__active {
		.hamburger__inner {
			transform: rotate(225deg);
			transition-delay: 0.12s;
			transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

			&::before {
				top: 0;
				opacity: 0;
				transition: top 0.1s ease-out,
										opacity 0.1s 0.12s ease-out;
			}

			&::after {
				bottom: 0;
				transform: rotate(-90deg);
				transition: bottom 0.1s ease-out,
										transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
			}
		}
	}
}
@media only screen and (min-width : 768px) {
	.hamburger {
		display: none;
	}
}
