/*
* Navigation menu
*/

.navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;

	&__item {
		color: $white;
		font-size: 1.5rem;
	}

	&__menu-icon {
		display: none;
	}

}

@media only screen and (max-width : 768px) {

.navigation {
	flex-direction: column;
	position: fixed;
	top: 0;
	right: -100%;
	width: 50%;
	height: 100vh;
	padding: 30vh 10vh;
	background-color: black;
	transition: right ease-out .3s, padding-left ease-out .3s;
	overflow: hidden;
}

.opened {
	right: 0;
}

}
