.first-screen
	header.header
		.container
			.header__wrapper
				a.header__logo(href="/") AppStarter
				.header__content
					nav.navigation
						a.navigation__item(href="#") Features
						a.navigation__item(href="#") Video Tour
						a.navigation__item(href="#") Reviews
						a.navigation__item(href="#") Pricing
						button.btn.btn--white.btn--medium GET IT FREE

				.hamburger
					.hamburger__box
						.hamburger__inner

	.first-screen__content.container
			.first-screen__block1
				img.first-screen__icon.img-fluid(src="/static/images/first-screen__icon.svg", alt="appstarter")
				.first-screen__heading
					strong AppStarter.
					|  Best landing page for web and mobile apps
				button.btn.btn--orange.btn--medium.btn--mgr2(href="#") Download Now
				button.btn.btn--white.btn--medium(href="#") Watch Video
			img.first-screen__block2(src="/static/images/first-screen__ipad.png", alt="ipad")
