.link {
	color: $links;
}
/* src../styles/pages/_index.scss  */

/*
* First screen
*/

.first-screen {
	background-image: url('../images/first-screen__bg.png'), linear-gradient(45deg, #2FB9F8 0%, #7956EC 100%);
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 72rem;

	@include media-breakpoint-down(md) {
		min-height: 50rem;
	}
	@include media-breakpoint-down(sm) {
		min-height: 40rem;
	}
	@media (max-width: 420px) {
		min-height: 35rem;
	}


	&__content {
		padding-top: 5rem;
		position: relative;

		@include media-breakpoint-down(sm) {
			padding-top: 2rem;
		}
	}

	&__block1 {
		padding-top: 9rem;
		max-height: 40rem;
		width: 50rem;

		@include media-breakpoint-down(lg) {
			width: 40rem;
		}

		@include media-breakpoint-down(md) {
			padding-top: 0;
		}

		@media (max-width: 420px) {
			width: auto;
		}

	}

	&__icon {
		max-width: 9rem;

		@include media-breakpoint-down(lg) {
			max-width: 6rem;
		}

		@media (max-width: 420px) {
			max-width: 4rem;
		}


	}

	&__heading {
		padding: 4rem 0;
		font-size: 3.5rem;
		color: $white;
		font-weight: 300;

		@include media-breakpoint-down(lg) {
			font-size: 3rem;
		}

		@media (max-width: 420px) {
			font-size: 2rem;
			padding: 3rem 0;
		}


	}

	&__btn {
		margin-right: 2rem;
	}

	&__block2 {
		position: absolute;
		top: 50px;
		right: 0;

		@include media-breakpoint-down(lg) {
			width: 40rem;
		}


		@include media-breakpoint-down(md) {
			display: none;
		}
	}

}

/*
* Features
*/

.features {
	margin-top: 13rem;

	@include media-breakpoint-down(lg) {
		margin-top: 0rem;
	}

	&__cards {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		margin-top: 8rem;

		.features__card:nth-child(2) {
			margin: 0 2rem;
		}

		@include media-breakpoint-down(md) {
			.features__card:nth-child(2) {
				margin: 0 1rem;
			}
		}

		@include media-breakpoint-down(sm) {
			margin-top: 4rem;
			flex-direction: column;
			.features__card:nth-child(2) {
				margin: 2rem 0;
			}
		}

	}

	&__card {
		display: flex;
		flex: 0 1 37rem;
		height: 37rem;
		background-color: #fff;
		box-shadow: 0 1px 3px 0 rgba(32,33,39,0.12);
		border-radius: 12px;

		@include media-breakpoint-down(sm) {
			flex: 0 1 28rem;
			height: 28rem;
		}


	}


	&__card-wrapper {
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		justify-content: space-between;
		padding: 6rem 5rem;
		height: 100%;

		@include media-breakpoint-down(lg) {
			padding: 3rem 2rem;
		}
	}

	&__icon {
		@media (max-width: 420px) {
			width: 5rem;
		}
	}

	&__title {
		font-size: 2rem;
		font-weight: 300;

		@include media-breakpoint-down(md) {
			font-size: 1.8rem;
		}
	}

	&__description {
		text-align: center;
		color: $description;
	}

	&__link {
		text-decoration: underline;
	}


}


/*
* Press
*/

.press {
	background-color: #fff;
	border-top: 1px solid #E7E8EA;
	border-bottom: 1px solid #E7E8EA;
	padding: 8rem 0;

	@include media-breakpoint-down(md) {
		padding: 4rem 0;
	}

	&__wrapper {
		padding: 0 12rem;

		@include media-breakpoint-down(md) {
			padding: 0 6rem;
		}

		@include media-breakpoint-down(sm) {
			padding: 0 3rem;
		}
	}

	&__items {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		margin: -1rem 0;


	}
	&__items img{
		width: 120px;
		height: 100%;
		max-width: 100%;
		margin: 1rem 0;



		@include media-breakpoint-down(lg) {
			width: 100px;
		}

		@include media-breakpoint-down(md) {
			width: 80px;
		}

		@include media-breakpoint-down(md) {
			width: 60px;
		}



	}
}

/*
* Highlights
*/

.highlights {

	&__wrapper {
		display: flex;
		justify-content: space-between;
	}

	&__block1 {
		display: flex;
		flex: 0 1 47rem;
		flex-flow: column nowrap;
		justify-content: center;

		@include media-breakpoint-down(md) {
			flex: 0 1 35rem;
		}

		@include media-breakpoint-down(md) {
			flex: 1;
		}
	}

	&__ipad {
		@include media-breakpoint-down(md) {
			width: 25rem;
		}
	}

	&__block2 {
		@include media-breakpoint-down(sm) {
			display: none;
		}
	}



}

.tab-list {
	height: 48rem;

	@media (max-width: 420px) {
		height: auto;
	}

	&__item {
		padding: 3rem 2rem 3rem 7rem;

		&--active {
			background-color: #fff;
			background: #FFFFFF;
			box-shadow: 0 0.6rem 1.2rem 0 rgba(32,33,39,0.08);
			border-radius: 1.2rem;
		}

	}

	&__title {
		position: relative;
		font-size: 1.6rem;
		margin-bottom: 1.5rem;

		&:before {
			@include pseudo;
			height: 2.4rem;
			width: 2.4rem;
			left: -4rem;
		}

		&--sync:before {background-image: url('../images/tabs-list__icon1.svg');}
		&--emails:before {background-image: url('../images/tabs-list__icon2.svg'); height:2.1rem;}
		&--track:before {background-image: url('../images/tabs-list__icon3.svg');}
	}

	&__description {
		font-size: 1.4rem;
		color: $description;
		font-family: NunitoSans-Regular;
		line-height: 1.5;
	}


}


/*
* Download
*/

.download {
	display: flex;
	align-items: center;
	background-image: url('../images/first-screen__bg.png'), linear-gradient(45deg, #2FB9F8 0%, #7956EC 100%);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 8rem 0;
	color: #fff;

	@include media-breakpoint-down(lg) {
		padding: 3rem 0;
		height: 40rem;
	}

	@include media-breakpoint-down(md) {
		height: 20rem;
	}

	@media (max-width: 420px) {
		height: auto;
	}



	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@include media-breakpoint-down(sm) {
			flex-direction: column;
		}
	}

	&__block1 {
		display: flex;
		flex-flow: column nowrap;
		flex: 0 0 57rem;

		@include media-breakpoint-down(md) {
			flex: 0 0 35rem;
		}

		@include media-breakpoint-down(sm) {
			flex: 1;
		}
	}

	&__title {
		font-size: 3.5rem;
		font-weight: 300;
		margin-bottom: 3rem;

		@include media-breakpoint-down(md) {
			font-size: 3rem;
			margin-bottom: 1rem;
		}
	}

	&__description {
		font-size: 1.6rem;
		line-height: 1.5;

		@include media-breakpoint-down(md) {
			font-size: 1.4rem;
		}
	}

	&__block2 {
		@include media-breakpoint-down(sm) {
			display: flex;
			justify-content: flex-start;
			width: 100%;
			margin-top: 2rem;
		}

	}

}

/*
* Screenshots
*/

.screens {

	&__item {
		display: flex;
		min-height: 59rem;

		@include media-breakpoint-down(md) {
			min-height: 35rem;
		}

		@include media-breakpoint-down(sm) {
			min-height: 25rem;
		}

		&--reverse {
			flex-flow: row-reverse nowrap;
		}

		@media (max-width: 420px) {
			flex-direction: column;
		}
	}

	&__col-1,&__col-2 {
		width: 50%;

		@media (max-width: 420px) {
			width: auto;
		}
	}

	&__col-1 {
		position: relative;
		background-image: url('../images/first-screen__bg.png'), linear-gradient(45deg, #2FB9F8 0%, #7956EC 100%);
		background-repeat: no-repeat;
		background-size: cover;

		@media (max-width: 420px) {
			height: 30rem;
		}

	}

	&__col-2 {
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		justify-content: center;
		background-color: #fff;
		box-shadow: 0 3px 6px 0 rgba(32,33,39,0.12);
	}


}
.screens-item {

	&__content {
		padding: 18rem 9rem;
		text-align: center;
		line-height: 1.5;

		@include media-breakpoint-down(lg) {
			padding: 8rem;
		}

		@include media-breakpoint-down(md) {
			padding: 4rem;
		}
	}

	&__title {
		font-size: 3.5rem;
		font-weight: 300;
		margin-bottom: 2rem;

		@include media-breakpoint-down(md) {
			font-size: 2.5rem;
		}

		@include media-breakpoint-down(sm) {
			font-size: 2rem;
		}
	}

	&__description {
		font-size: 1.6rem;
		color: $description;

		@include media-breakpoint-down(sm) {
			font-size: 1.4rem;
		}
	}

	&__img {
		position: absolute;
		left: 0;
		bottom: 0;
		right: 0;
		margin: auto;

		@include media-breakpoint-down(md) {
			width: 25rem;
		}

		@include media-breakpoint-down(md) {
			width: 20rem;
		}
	}
}

/*
* Video
*/

.video {
	background-image: url('../images/video__bg.png'), linear-gradient(45deg, #7956EC 0%, #2FB9F8 100%);
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;

	&__wrapper {
		max-width: 57rem;
		margin: 0 auto;
	}
	&__title {
		margin-bottom: 2rem;
	}
	&__description {
		font-size: 1.6rem;
		color: #fff;
		opacity: 0.8;
		line-height: 1.5;
		margin-bottom: 2rem;
	}

	&__popup-frame {
		position: relative;
		width:75%;
		margin:0 auto;
		& iframe {width:100%; margin:0 auto;}
	}
}
/*
* Reviews 		**************************************************
*/

.reviews {
	display: flex;
	padding: 0;
	max-width: 1440px;
	margin-left: auto;
	margin-right: auto;

	@include media-breakpoint-down(sm) {
		flex-direction: column;
	}
	&__sidebar {
		width: 53.5rem;
		padding: 15rem 12rem;
		background-color: #fff;

		@include media-breakpoint-down(lg) {
			padding: 12rem 6rem 4rem;
		}

		@include media-breakpoint-down(md) {
			padding: 3rem 4rem 3rem;
		}

		@include media-breakpoint-down(md) {
			display: none;
		}

	}

	&__title {
		padding: 4rem 0;
		display: none;

		@include media-breakpoint-down(sm) {
			display: block;
		}
	}

	&__list {
		width: 90.5rem;
		padding: 12rem 13.5rem 12rem 10rem;
		display: flex;
		flex-direction: column;

		@include media-breakpoint-down(lg) {
			padding: 12rem 4rem;
		}

		@include media-breakpoint-down(md) {
			padding: 3rem 2rem 2rem;
		}
		@include media-breakpoint-down(sm) {
			width: auto;
			display: block;
			padding: 0 4rem;
		}

		@media (max-width: 420px) {
			padding: 0 2rem;
		}
	}
}

.sidebar {
	height: 51rem;
	position: relative;



	&__rating {
		margin-bottom: 6.5rem;

		@include media-breakpoint-down(md) {
			margin-bottom: 2rem;
		}
	}

	&__title {
		text-align: left;
		line-height: 1.5;
	}

	&__read-more {
		position: absolute;
		bottom: 0;
	}

}

.read-more {
	font-size: 1.5rem;

	&__title {
		color: $description;
		font-weight: 900;
		margin-bottom: 4rem;
	}

	&__links {
		padding-left: 4rem;
	}

	&__link {
		display: block;
		margin-bottom: 2rem;
		color: #000;

		&:before {
			@include pseudo;
			background-image: url('../images/reviews__arrow.svg');
			width: 2.4rem;
			height: 0.8rem;
			left: 0;
			text-align: center;
			transform: translateY(50%);


		}
	}
}

.review {
	max-width: 57rem;
	padding: 2rem 3rem;
	background-color: #ffffff;
	box-shadow: 0 6px 12px 0 rgba(32,33,39,0.08);
	border-radius: 12px;

	&--reverse {
		align-self: flex-end;
		margin: 2rem 0;

	}
	&__content {
		display: flex;
		padding-bottom: 4rem;
		border-bottom: 1px solid #E7E8EA;

		@include media-breakpoint-down(md) {
			padding-bottom: 2rem;
		}
	}

	&__avatar {
		img {
			width: 5rem;
			height: 5rem;

			@media (max-width: 420px) {
				width: 4rem;
				height: 4rem;
			}
		}

		&--left {
			padding-right: 3rem;

			@media (max-width: 420px) {
				padding-right: 2rem;
			}
		}

		&--right {
			@media (max-width: 420px) {
				padding-left: 2rem;
			}
		}
	}

	&__description {
		font-size: 1.4rem;
		color: $title;
		line-height: 2;

		@include media-breakpoint-down(md) {
			font-size: 1.2rem;
			line-height: 1.5;
		}
	}

}
.author {
	display: flex;
	justify-content: space-between;
	padding-top: 2rem;

	&__name {
		color: #999EA8;
		font-size: 1.2rem;
	}
}

/*
* Tariffs 		**************************************************
*/

.tariffs {
	display: flex;
	padding: 12rem 13.5rem;
	max-width: 1440px;
	margin-left: auto;
	margin-right: auto;

	@include media-breakpoint-down(lg) {
		padding: 8rem 6rem;
	}

	@include media-breakpoint-down(md) {
		flex-direction: column;
		padding: 4rem 6rem;
	}

	@include media-breakpoint-down(sm) {
		padding: 4rem;
	}


	&__sidebar {
		width: 37rem;
		padding: 15rem 0;

		@include media-breakpoint-down(lg) {
			padding: 10rem 0;
		}

		@include media-breakpoint-down(md) {
			width: 100%;
			text-align: center;
			padding: 5rem 0;
		}
	}

	&__title{
		margin-bottom: 3rem;
		font-size: 3.5rem;
		color: $title;

	}

	&__description {
		color: $description;
		font-size: 1.6rem;
	}


	&__items {
		display: flex;
		justify-content: flex-end;
		width: 100%;

		@include media-breakpoint-down(md) {
			justify-content: space-around;
		}

		@media (max-width: 420px) {
			justify-content: space-between;
		}

		@media (max-width: 420px) {
			flex-direction: column;
		}
	}
}

.tariff {
	padding: 5rem 0;
	max-width: 33.5rem;
	background-color: red;
	color: #fff;
	border-radius: 1.5rem;

	@include media-breakpoint-down(lg) {
		padding: 3rem 0;
		height: 40rem;
	}



	&__wrapper {
		padding: 0 5rem;

		@include media-breakpoint-down(lg) {
			padding: 0 3rem;
		}

	}

	&__substrate {
		padding: 1.5rem 0;
		background: rgba(255,255,255,0.07);
		box-shadow: 0 1px 0 0 rgba(255,255,255,0.30), inset 0 1px 0 0 rgba(255,255,255,0.30);
		text-align: center;

		&--2 {
			background-color: #F8F9FA;
			box-shadow: 0 1px 0 0 #E7E8EA, inset 0 1px 0 0 #E7E8EA;

		}
	}

	&__title {
		font-size: 1.1rem;
		font-weight: bold;
		text-transform: uppercase;
	}

	&__price {
		padding: 3rem 0;
		font-size: 6rem;
		font-weight: lighter;
		text-align: center;
		text-transform: uppercase;

		@include media-breakpoint-down(lg) {
			padding: 2rem 0;
			font-size: 4.5rem;
		}

		@include media-breakpoint-down(sm) {
			font-size: 4rem;
		}
	}

	&__options {
		font-size: 1.5rem;
		font-weight: 400;
		height: 15rem;

		@include media-breakpoint-down(lg) {
			font-size: 1.4rem;
		}

		@include media-breakpoint-down(sm) {
			font-size: 1.2rem;
		}

	}

	&__option {
		padding-bottom: 1rem;
		position: relative;
		padding-left: 3rem;

		&:before {
			@include pseudo;
			background-image: url('../images/tariffs__check.svg');
			width: 1.635rem;
			height: 1.2rem;
			left: 0;
			top: -0.5rem;
			transform: translateY(50%);
		}

		&--2 {
			&:before {
				background-image: url('../images/tariffs__check--black.svg');
			}
		}
	}

	&__button {
		width: 100%;
		text-align: center;
		color: #fff;

	}

	&--1 {
		background-image: url(../images/first-screen__bg.png),linear-gradient(45deg,#2fb9f8,#7956ec);
		background-size: cover;
		background-repeat: no-repeat;
		transform: scale(1.15);

		@include media-breakpoint-down(lg) {
			transform: scale(1.1);
		}

		@include media-breakpoint-down(md) {
			transform: none;
		}
	}

	&--2 {
		color: #000;
		background-color: #fff;
		box-shadow: 0 1px 3px 0 rgba(32,33,39,0.12);
		border-radius: 12px;

		@media (max-width: 420px) {
				margin-top: 4rem;
			}
	}

}

/*
* Stay in touch FORM 		*************************************
*/

.stay {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 12rem 33.5rem;
	height: 92rem;
	max-width: 1440px;
	margin-left: auto;
	margin-right: auto;
	background-image: url(../images/first-screen__bg.png),linear-gradient(45deg,#2fb9f8,#7956ec);
	background-size: cover;
	background-repeat: no-repeat;
	color: #fff;
	text-align: center;

	@include media-breakpoint-down(lg) {
		padding: 6rem 20rem;
	}

	@include media-breakpoint-down(md) {
		padding: 6rem 10rem;
		height: auto;
	}
	@include media-breakpoint-down(sm) {
		padding: 6rem 4rem;
	}

	@media (max-width: 420px) {
		padding: 6rem 2rem;
	}

	&__content {
		width: 57rem;

		@include media-breakpoint-down(sm) {
			width: auto;
		}
	}
	&__title {
		font-size: 3.5rem;
		font-weight: 100;
		margin-bottom: 3rem;
	}

	&__description {
		font-size: 1.6rem;
		font-weight: 400;
		opacity: 0.8;
		line-height: 3rem;
	}

	&__form {
		width: 100%;

	}

}

.form {
	padding: 7rem;
	margin-top: 6rem;
	background: #fff;
	box-shadow: 0 12px 24px 0 rgba(40,43,49,0.16);
	border-radius: 12px;

	@include media-breakpoint-down(lg) {
		padding: 5rem;
	}

	@include media-breakpoint-down(md) {
		margin-top: 3rem;
	}

	@media (max-width: 420px) {
		padding: 2rem;
	}



	&__inputGroup {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&__input {
		position: relative;

		@media (max-width: 420px) {
			width: 100%;
		}
	}
	&__field, &__textarea {
		padding: 1.5rem 2rem;
		background: #F8F9FA;
		border: 1px solid #E7E8EA;
		border-radius: 6px;

		@include placeholder {
			color: #B9BDC3;
			font-size: 1.7rem;
			font-weight: 400;
		}
	}
	&__field {
	width: 30rem;
	margin-bottom: 2rem;

	@include media-breakpoint-down(lg) {
		width: 22rem;
	}

	@include media-breakpoint-down(md) {
		width: 18rem;
	}

	@media (max-width: 420px) {
		width: 100%;
	}



	}


	&__textarea {
		width: 100%;
		margin-bottom: 3rem;
	}
}

/*
* Footer  		*************************************
*/

.footer {

	&__wrapper {
		display: flex;
		justify-content: space-between;
		padding: 3rem 0;
	}

	&__logo {
		font-size: 20px;
		font-weight: 600;
		color: #282B31;

		@media (max-width: 420px) {
		font-size: 1.6rem;
		}
	}

	&__copyright {
		color: #999EA8;
	}
	&__author {
		font-size: 1.1rem;

		@media (max-width: 420px) {
			font-size: 0.8rem;
			}

	}

	&__authLink {
		color: #282B31;

		@media (max-width: 420px) {
			font-size: 0.8rem;
			}

	}

	&__heart {
		color: #FF4876;
	}

	&__created {
		margin-top: 1rem;

		@media (max-width: 420px) {
			font-size: 0.8rem;
			}
	}
}


/*
  Responsive
*/
