extends template/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page'

block content



	section.features
		.container
			.title.title--black
				strong How
				|  doest it work
			.features__cards
				.features__card
					.features__card-wrapper
						img.features__icon(src="static/images/features__1.svg", alt="sync")
						.features__title
							strong Sync
							|  across all devices
						.features__description This sounded nonsense to Alice, so she said nothing, but set off at once toward the Red Queen. To her surprise.
						a.features__link(href="#") Watch video
				.features__card
					.features__card-wrapper
						img.features__icon(src="static/images/features__2.svg", alt="sync")
						.features__title
							strong All emails
							|  in one place
						.features__description This sounded nonsense to Alice, so she said nothing, but set off at once toward the Red Queen. To her surprise.
						a.features__link(href="#") Watch video
				.features__card
					.features__card-wrapper
						img.features__icon(src="static/images/features__3.svg", alt="sync")
						.features__title
							strong Notifications
							|  about sales
						.features__description This sounded nonsense to Alice, so she said nothing, but set off at once toward the Red Queen. To her surprise.
						a.features__link(href="#") Watch video

	section.press
		.container
			.press__wrapper
				.press__items
					img(src="static/images/press__wired.png", alt="wired")

					img(src="static/images/press__lifehacker.png", alt="lifehacker")

					img(src="static/images/press__mashable.png", alt="mashable")

					img(src="static/images/press__verge.png", alt="verge")

					img(src="static/images/press__gizmodo.png", alt="gizmodo")

					img(src="static/images/press__macworld.png", alt="macworld")

	section.highlights
		.container
			.highlights__wrapper
				.highlights__block1
					.tab-list
						.tab-list__item
							.tab-list__title.tab-list__title--sync
								strong Sync
								|  across all devices
							.tab-list__description
								| This sounded nonsense to Alice, so she said nothing, but set off at once toward the Red Queen. To her surprise, she lost sight of her in a moment.
						.tab-list__item.tab-list__item--active
							.tab-list__title.tab-list__title--emails
								strong Sync
								|  across all devices
							.tab-list__description
								| This sounded nonsense to Alice, so she said nothing, but set off at once toward the Red Queen. To her surprise, she lost sight of her in a moment.
						.tab-list__item
							.tab-list__title.tab-list__title--track
								strong Sync
								|  across all devices
							.tab-list__description
								| This sounded nonsense to Alice, so she said nothing, but set off at once toward the Red Queen. To her surprise, she lost sight of her in a moment.
				.highlights__block2
					img.highlights__ipad.img-fluid(src="static/images/highlights__ipad.png", alt="ipad")

	section.download
		.container
			.download__wrapper
				.download__block1
					.download__title
						strong Download
						|  to get started
					.download__description
						| This sounded nonsense to Alice, so she said nothing, but set off at once toward the Red Queen. To her surprise, she lost sight of her in a moment.
				.download__block2
					a.btn.btn--orange.btn--large.btn--mgr2(href="#") Buy for 24$
					a.btn.btn--white.btn--large(href="#") Try it Free

	section.screens
		.container
			.screens__list
				.screens__item
					.screens__col-1
						img.screens-item__img.img-fluid(src="static/images/screens-item__img1.png", alt="screen")
					.screens__col-2
						.screens-item__content
							.screens-item__title
								strong Perfect
								|  landing page for your app
							.screens-item__description
								| This sounded nonsense to Alice, so she said nothing, but set off at once toward the Red Queen. To her surprise, she lost sight of her in a moment, and found herself walking.
				.screens__item.screens__item--reverse
					.screens__col-1
						img.screens-item__img.img-fluid(src="static/images/screens-item__img2.png", alt="screen")
					.screens__col-2
						.screens-item__content
							.screens-item__title
								strong Style guide
								|  and sample pages included
							.screens-item__description
								| This sounded nonsense to Alice, so she said nothing, but set off at once toward the Red Queen. To her surprise, she lost sight of her in a moment, and found herself walking.
	section.video
		.container
			.video__wrapper
				.video__title.title.title--white
					strong Watch
					|  video tour
				.video__description
					| This sounded nonsense to Alice, so she said nothing, but set off at once toward the Red Queen. To her surprise, she lost sight of her.
				a(class="video__popup-link" href="#popup")
					img.video__play(src="static/images/video__play.svg", alt="play")

	.video__popup-frame.mfp-hide#popup
		iframe(width='854', height='480', src='https://www.youtube.com/embed/qN3OueBm9F4', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')


	section.reviews
		.reviews__title.title
			strong Customers
			|  about AppStarter
		.reviews__sidebar
			.sidebar
				img.sidebar__rating.img-fluid(src="static/images/reviews__star.svg", alt="rating star")
				.sidebar__title.title
					strong Customers
					|  about&nbsp;Appstarter
				.sidebar__read-more
					.read-more
						.read-more__title Read more reviews:
						.read-more__links
							a.read-more__link(href="#")
								strong App Store
							a.read-more__link(href="#")
								strong Google Play
		.reviews__list
			.review
				.review__content
					.review__avatar.review__avatar--left
						img(src="static/images/reviews__ava1.png", alt="Eliza Paul")
					.review__description
						| This sounded nonsense to Alice, so she said nothing, but set off at once toward the Red Queen. To her surprise, she lost sight of her in a moment, and found herself.
				.author
					.author__name
						strong Eliza Paul
						|  - Web Designer
					a.author__twitter(href="http://twitter.com" target="_blank")
						img(src="static/images/reviews__twitter.svg", alt="twitter")
			.review.review--reverse
				.review__content
					.review__description
						| This sounded nonsense to Alice, so she said nothing, but set off at once toward the Red Queen. To her surprise, she lost sight of her in a moment, and found herself.
					.review__avatar.review__avatar--right
						img(src="static/images/reviews__ava2.png", alt="Eliza Paul")
				.author
					a.author__twitter(href="http://twitter.com" target="_blank")
						img(src="static/images/reviews__twitter.svg", alt="twitter")
					.author__name
						strong Juan Richards
						|  - Photographer
			.review
				.review__content
					.review__avatar.review__avatar--left
						img(src="static/images/reviews__ava3.png", alt="Eliza Paul")
					.review__description
						| This sounded nonsense to Alice, so she said nothing, but set off at once toward the Red Queen. To her surprise, she lost sight of her in a moment, and found herself.
				.author
					.author__name
						strong Marian McGuire
						|  - Entrepreneur
					a.author__twitter(href="http://twitter.com" target="_blank")
						img(src="static/images/reviews__twitter.svg", alt="twitter")


	section.tariffs
		.tariffs__sidebar
			.tariffs__title
				strong Choose
				|  your plan
			.tariffs__description
				| This sounded nonsense to Alice, so she said nothing, but set off at once toward the Red Queen. To her surprise, she lost sight of her in a moment, and found herself walking.
		.tariffs__items
			.tariff.tariff--1
				.tariff__substrate
					.tariff__title professional
				.tariff__wrapper
					.tariff__price 10$
					.tariff__options
						.tariff__option Hundreds of elements
						.tariff__option Style guide
						.tariff__option 160 icons included
						.tariff__option Sketch files
						.tariff__option Commercial licence
					button.tariff__button.btn.btn--orange.btn--large(href="#") Buy Now
			.tariff.tariff--2
				.tariff__substrate.tariff__substrate--2
					.tariff__title starter
				.tariff__wrapper
					.tariff__price free
					.tariff__options
						.tariff__option.tariff__option--2 Hundreds of elements
						.tariff__option.tariff__option--2 Style guide
						.tariff__option.tariff__option--2 30 icons included
						.tariff__option.tariff__option--2 Personal licence
					button.tariff__button.btn.btn--green.btn--large(href="#") Get Free

	section.stay
		.stay__content
			.stay__title
				strong Stay
				|  in touch
			.stay__description
				| This sounded nonsense to Alice, so she said nothing, but set off at once toward the Red Queen. To her surprise, she lost sight of her in a moment.
		form.stay__form.form(action="#")
			.form__lineGroup
				.form__inputGroup
					.form__input
						input.form__field(type="text" name="name" placeholder="Your Name")
					.form__input
						input.form__field(type="email" name="email" placeholder="Your Email")
			textarea.form__textarea(name="message", rows="10", placeholder="Message...")
			button.btn.btn--orange.btn--large(type="submit" href="#") Send Message
