header.header
	.container
		.header__wrapper
			a.header__logo(href="/") AppStarter
			.header__content
				nav.navigation
					a.navigation__item(href="#") Features
					a.navigation__item(href="#") Video Tour
					a.navigation__item(href="#") Reviews
					a.navigation__item(href="#") Pricing
					button.btn.btn--white.btn--medium GET IT FREE

			.hamburger
				.hamburger__box
					.hamburger__inner
