

footer.footer
	.container
		.footer__wrapper
			.footer__logo AppStarter
			.footer__copyright
				.footer__author Created with
					span.footer__heart ♥
					|  by
					a.footer__authLink(href="#")
						strong  Sergey Azovskiy
				.footer__created 	&#169; AppStarter, 2017
